body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
  font: monospace;
  margin-top: 30px;
  font-size: smaller;
}

li::first-letter {
  text-transform: Uppercase;
}

ul.conditions {
  padding-left: 60px;
}
.container {
  border-radius: 5px;
  margin-top: 30px;
  max-width: 620px;
  border-style: solid;
  background-image: linear-gradient(
    to bottom,
    #dedede,
    #dcdcdc,
    #dad9da,
    #d8d7d8,
    #d6d4d6,
    #d3d1d3,
    #d0cfd1,
    #cdccce,
    #c9c9ca,
    #c5c5c6,
    #c2c2c2,
    #bebebe
  );
}
.weather-app {
  max-width: 600px;
  margin: 10px auto;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.search-button {
  line-height: 30px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  font-size: 80%;
}
.location-button {
  line-height: 30px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  font-size: 80%;
}

.row {
  margin-top: 25px;
}

.temp-now {
  padding-left: 60px;
}
.iconNow {
  margin: 0 auto;
}
.currentTemp {
  font-size: 60px;
  font-weight: bold;
  vertical-align: middle;
}

.units {
  font-size: 20px;
  position: relative;
  top: -10px;
}

.current-condition {
  font-weight: bold;
  font-size: larger;
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
}
.forecast-date {
  font-size: 22px;
}
.forecast-temp-max {
  font-size: 18px;
}

.forecast-temp-min {
  font-size: 18px;
  opacity: 0.8;
}
